<div class="container">
    <h2>Sobre</h2>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat possimus totam nisi quasi tempore qui magni
        consectetur quas commodi, deleniti minima, sit, perferendis animi ratione error blanditiis tempora aliquid a?
        Necessitatibus, delectus temporibus, aperiam eius sequi saepe tenetur nam facilis architecto repudiandae amet ad
        ipsum illo. Possimus assumenda, repudiandae eveniet sit libero explicabo consequuntur pariatur blanditiis minus
        rerum natus accusamus.
        Animi, recusandae! Provident, veritatis iste. Esse suscipit consequatur accusantium ad, labore aspernatur, est
        ea iste rem recusandae facilis dolorem, iure qui autem beatae in. Ipsum debitis numquam nobis expedita quae?
        Voluptatibus dolor sint dolore, culpa, aspernatur fugiat, consequatur maiores non reprehenderit eveniet
        recusandae deleniti optio accusantium minima velit itaque fugit ipsam? Aliquam et labore aperiam quo voluptatem
        qui repudiandae voluptatibus.
        Consectetur aspernatur qui dolor autem doloribus quisquam nostrum maxime dicta mollitia blanditiis. Voluptate,
        eos non. Iusto omnis, perspiciatis repudiandae assumenda sunt rerum autem, cupiditate quae, obcaecati ea alias
        eos facilis.
        Tempore fuga sint voluptate corrupti totam id! Odit praesentium cupiditate molestias officia autem impedit
        assumenda deserunt totam dolores numquam quisquam, in rerum, magnam rem nostrum aspernatur. Veniam ea beatae
        est?
        Corrupti, qui voluptas vitae ut doloribus voluptatem quisquam ex sit minima fugit neque perspiciatis nesciunt
        quibusdam asperiores expedita necessitatibus. Laboriosam, doloribus recusandae quia qui possimus tempora sequi.
        Aspernatur, ratione laudantium!
        Quod aut ab commodi iste tempore enim et molestias totam architecto? Ipsam placeat blanditiis, hic quibusdam
        nihil aliquid iure error maxime dolores sint a reiciendis illum sapiente inventore labore illo?
    </p>
</div>