<div class="container">
    <h2>Principal</h2>

    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita culpa perferendis sint repudiandae
        laudantium. Earum adipisci atque harum nobis praesentium? Voluptatum non eos nam ex recusandae! Maxime cumque
        impedit error!
        Labore provident ab accusantium est. Incidunt, earum consectetur eum voluptas aperiam in, neque excepturi
        temporibus fugiat rem consequuntur, debitis illum enim molestias magnam. Recusandae quos mollitia alias facere
        accusantium quidem?
        A totam deserunt debitis explicabo illum nesciunt. Repellat cupiditate repellendus doloremque laudantium
        voluptate quisquam, obcaecati repudiandae excepturi itaque. Provident mollitia dicta tenetur consectetur
        suscipit velit saepe voluptates error ipsum fugit?
        Nobis rerum, obcaecati placeat sapiente, quas, incidunt beatae ipsum aliquid fuga consectetur eligendi! Tenetur
        recusandae sunt, adipisci dicta temporibus earum minus incidunt animi laborum, laboriosam, quasi praesentium
        voluptatum fugiat dolorem.
    </p>
</div>